body {
    font-family: verdana, serif; font-size: 12px; }
body { font-family: verdana, sans-serif; font-size: 12px; }
label { display: block; }
td { vertical-align: top; }
form { width: 400px; }
button { width: 100%; height: 24px; margin-top: 10px; font-size: 14px; }
.Navbar { cursor: default; position: fixed; top: 0; left: 0; width: 100%; height: 4em; padding: .66em 0; z-index: 9; background: #631717; box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3); }
 .Navbar .Logger-Title { position: fixed; top: 0; left: 0; width: 100%; font-size: 3.5em; text-align: center; margin: auto; font-family: "Rhodium Libre", serif; z-index: 1; color: white; }
 .Navbar .Logger-Title span { cursor: pointer; }
 .Navbar .Options { float: right; display: flex; position: relative; width: 10em; margin-right: .5em; cursor: pointer; z-index: 10; }
 .Navbar .Options .Settings { float: right; width: 4em; height: 4em; margin: 0 1em; }
 .Navbar .Options .Settings img { width: 100%; height: 100%; }
 .Navbar .Options .Logout { float: right; width: 4em; height: 4em; margin: 0 1em; }
 .Navbar .Options .Logout img { width: 100%; height: 100%; }


.panel { position: absolute; left: 0; top: 5.4em; width: 100%; font-family: "Raleway", "Rhodium Libre", sans-serif; color: #1f1f1f; }

.panel-container { position: relative; max-width: 1254px; width: 100%; height: 100%; margin: 6em auto; }

.panel-left-nav { position: relative; float: left; width: 15%; max-width: 200px; min-width: 140px; height: 100%; padding: 40px 20px; margin: 0; }

.panel-center-content { position: relative; float: left; width: calc(70% - 120px); height: 100%; margin: 0; padding: 20px; }

.panel-right-nav { position: relative; float: right; width: 15%; max-width: 200px; min-width: 140px; height: 100%; padding: 0 20px; margin: 0; }

.graph { display: flex; flex-direction: column; align-items: center; }

.h2-size { font-size: 1.5em; }

.h3-size { font-size: 1.33em; }

.break-line { width: 100%; height: 1px; background-color: #1f1f1f33; }

h3.break-line { margin: 20px 0; }

h3.break-line.title { margin-top: 5px; margin-bottom: 20px; }

.header { margin-bottom: 5px; }

.filter-nav { padding-top: 35px; }

.filter-nav .filter-title { position: relative; padding-top: 1em; height: 1.5em; cursor: pointer; }

.filter-nav .filter-title h3 { position: relative; width: 100%; margin: 0; }

.filter-nav .filter-title img { position: absolute; top: 0; right: 0; z-index: 2; filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(66%); width: 1em; height: 1em; }

.filter-nav .filter-title:hover { background-image: linear-gradient(to right, #63171700, #93474777 100%); }

.filter-nav .filter-title:hover h3 { color: #1f1e1ccc; }

.filter-nav .filter-title:hover img { filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(90%); }

.filter-nav h4 { margin: 0; padding: .75em 0 .75em .75em; width: calc(100% - .75em); cursor: pointer; }

.filter-nav h4:hover { color: #1f1e1ccc; background-image: linear-gradient(to right, #63171700, #93474777 100%); }

.exit-nav { position: relative; height: 1.5em; width: 1.5em; padding: .5em; cursor: pointer; }

.exit-nav img { position: absolute; top: .5em; left: .5em; filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(66%); width: 1.5em; height: 1.5em; }

.exit-nav:hover img { filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(90%); }

.hide { display: none; }

.category { cursor: pointer; }

.category:hover { text-decoration: underline; }

.panel-preference {
    color: white;
}

.panel-preference .panel-center-content div {
    text-align:center;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background: #631717;
    border-radius: 5px;
    width: 400px;
    font-family: "Rhodium Libre", sans-serif;
    font-size: 2em;
    cursor:pointer;
}

.panel-preference .panel-center-content div:hover {
    background: #531717;
}

.panel-preference .panel-center-content div.Delete-Account {
    background: #f44242;
}

.panel-preference .panel-center-content div.Delete-Account:hover {
    background: #d44242;
}